html {
  box-sizing: border-box;
  /* object-position: center; */
}
body {
  font-family: "Oswald", "Open-Sans";
  background-color: #98D2BF;
  padding: 50px;
	width: 45%;
	margin: 0 auto;
}
body h3 {
  font-family: Open Sans;
}
.form_container {
  background-color: white;
  width: 100%;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
}
form input, textarea {
  width: 94%;
  padding: 15px;
}
.email_capture {
  display: inline-block;
}
button {
  background-color: #B69843;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  outline-color: white;
  outline-width: 0;
  padding: 12px 30px;
  text-align: center;
  border-radius: 4px;
}
button:text {
  color: white;
}
